<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div style="display: flex; align-items: center; gap: 10px;">
        <button mat-icon-button (click)="voltar()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Cidades</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="navigateToForm()">
        <mat-icon>add</mat-icon>
        Nova Cidade
      </button>
    </div>

    <table mat-table [dataSource]="cidades()" class="mat-elevation-z8">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let cidade">{{ cidade.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let cidade">{{ cidade.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let cidade">{{ getEstadoNome(cidade) }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let cidade">
          <button mat-icon-button color="primary" (click)="navigateToForm(cidade.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCidade(cidade.id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
